<!DOCTYPE html>
<html lang="en">

<head>

  <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
      <title>Flowoverstack</title>

      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


</head>

<body>



  <%= render 'layouts/header' %>



    <% if notice %>
      <div class="col-md-6 col-md-offset-3 alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= notice %>
      </div>
      <% end %>

      <% if alert %>
          <div class=" col-md-6 col-md-offset-3 alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= alert %>
          </div>
      <% end %>

      <%=yield %>

</body>

</html>