<div class="container-fluid">

    <div class="row justify-content-md-center">

        <div class="col-md-8 col-md-offset-2">

            <h1>
                <%= @question.title %>
            </h1>

            <div class="row justify-content-md-right">

                <div class="col-md-1 text-center">
                    <div>
                        <div>
                        <% if user_signed_in? %>
                            <%= link_to '<span class="glyphicon glyphicon-triangle-top"></span>'.html_safe, vote_up_path(@question.id, current_user.id), method: 'POST'%>
                        <% else %>
                            <span class="glyphicon glyphicon-triangle-top"></span>
                        <% end %>
                        </div>
                        <p><%= @question.votes.count %></p>
                    </div>
                </div>

                <div class="col-md-11">
                    <p>
                        <%= @markdown.render(@question.body).html_safe %>
                    </p>

                    <div class="row">
                        <hr></hr>
                        <% @question.comments.each do |c| %>
                            <p>
                                <%= c.text %>
                            </p>
                            <hr></hr>
                            <% end %>
                            <% if user_signed_in? %>
                                <form form action="/comments/create" method="post">
                                    <div class="form-group">
                                        <input type="hidden" name="id" value=<%= @question.id %>>
                                        <input type="hidden" name="type" value=<%= "Question" %>>
                                        <input type="hidden" name="val_id" value=<%=  @question.id  %>>
                                        <textarea name="comment" name="text" class="form-control" rows="2" placeholder="Agrega un comentario."></textarea>
                                        <br>
                                        <div class="text-right">
                                            <button type="submit" class="btn btn-primary">Comentar</button>
                                        </div>
                                    </div>
                                </form>
                            <% end %>
                    </div>


                </div>

            </div>

        </div>


    </div>

    <div class="row justify-content-md-right">

        <div class="col-md-8 col-md-offset-2">
            <h3><%= @answer.count %> Respuesta(s)</h3>
            <hr></hr>

            <div class="row justify-content-md-right">

                <%@answer.each do |ans|%>

                    <div class="col-md-1 text-center">
                        <div>
                            <div>
                            <% if user_signed_in? %>
                                <%= link_to '<span class="glyphicon glyphicon-triangle-top"></span>'.html_safe, ans_vote_up_path(ans.id, current_user.id), method: 'POST'%>
                            <% else %>
                                <span class="glyphicon glyphicon-triangle-top"></span>
                            <% end %>
                            </div>
                            <p> <%= ans.votes.count %> </p>
                        </div>
                    </div>


                    <div class="col-md-11">

                        <p>
                            <%= @markdown.render(ans.description).html_safe %>
                        </p>

                        <div class="row">
                            <hr></hr>
                           
                            <% ans.comments.each do |c| %>
                                <p>
                                    <%= c.text %>
                                </p>
                                <hr></hr>
                                <% end %>

                                <% if user_signed_in? %>
                                    <form form action="/comments/create" method="post">
                                        <div class="form-group">
                                            <input type="hidden" name="id" value=<%= ans.id %>>
                                            <input type="hidden" name="type" value=<%= "Answer" %>>
                                            <input type="hidden" name="val_id" value=<%=  @question.id  %>>
                                            <textarea name="comment" name="text" class="form-control" rows="2" placeholder="Agrega un comentario."></textarea>
                                            <br>
                                            <div class="text-right">
                                                <button type="submit" class="btn btn-primary">Comentar</button>
                                            </div>
                                        </div>
                                    </form>
                                <% end %>
                        </div>

                    </div>

                    <% end %>

            </div>

            <div class="row">

                <div class="col-md-12">
                    <h3>Tu Respuesta</h3>
                    <% if user_signed_in? %>
                        <form form action="/answers/create" method="post">
                            <div class="form-group">
                                <input type="hidden" name="question_id" value=<%= @question.id %>>
                                <textarea name="description" class="form-control" rows="5" placeholder="Agrega una respuesta."></textarea>
                                <br>
                                <div class="text-right">
                                    <button type="submit" class="btn btn-primary">Responder</button>
                                </div>
                                <br><br><br><br>
                            </div>
                        </form>
                    <%else%>
                        <div class="well">Debes ingresar para responder una pregunta.</div>
                    <% end %>
                </div>

            </div>
        </div>

    </div>

</div>